
#registerForm {
  font-size: 10px;
  font-family: sans-serif;
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
#registerH2 {
    font-size: 20px;
    font-family: sans-serif;
    padding:10px;
    text-align:center;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
}
  #firstName, #lastName, #password, #email, #submit {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
  input[type="text"],
  input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 2px;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    background: #fff
  }
  #submit {
    box-shadow: 0 3px 0 0 darken;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    padding: .8em 0;
    text-shadow: darkblue;
    background-color: darkblue
  }
  #submit:hover {
    background: darkblue;
    text-shadow:0 1px 3px darken;
  }
