body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form, #form {
  padding: 20px;
  margin-top: 40px;

}

#form button {
  background-color:  #00004D;
  border-color:  #00004D;
}

#form h5 {
  color:  #00004D;
}

form button, form h5, #form button, #form h5{
  margin: 20px 0;
  margin-top: 10px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: purple;
  box-shadow: none
}

#nav {
  margin-bottom: 50px;
  background-color:  #00004D;
}

#card {
  margin: 20px;
  border: 2px solid black;
}

#dashboardHeader {
  margin: auto;
  text-align: center;
}



