body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


}

form, #form {
  padding: 20px;
  margin-top: 40px;

}

#form button {
  background-color:  #00004D;
  border-color:  #00004D;
}

#button {
  background-color:  #00004D;
  border-color:  #00004D;
}

#form h5 {
  color:  #00004D;
}

form button, form h5, #form button, #form h5{
  margin: 20px 0;
  margin-top: 10px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: purple;
  box-shadow: none
}

#nav {
  margin-bottom: 50px;
  background-color:  #00004D;

}

#card {
  margin: 20px;
  border: 5px solid #00004D;
}

#notiCard {
  width: 300px;
  border: 5px solid #00004D;
  margin:auto;
  margin-top: 20px;
}

#dashboardHeader {
  margin: auto;
  text-align: center;
  color: #00004D;
  margin-bottom: 10px;
}

#dashboardSubHeader {
  margin-top: 10px;
  text-align: center;
}

#infoButton {
  margin-top: 20px;
}

#logo {
  height: 50px;
}

#notiList {
  margin-bottom: 20px;
}

#nav {
  background: #00004d;
  min-height: 70px;
  font-size: 18px;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  z-index: 99;
  white-space: nowrap;
}

hr {
  margin-bottom: 15px;
  color: #00004d;
}

span {
  font-weight: bold;
}

#summaryHeader {
  font-weight: bold;
}







