body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  padding: 20px;
  margin-top: 40px;

}

form button, form h5{
  margin: 30px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: purple;
  box-shadow: none
}

nav {
  margin-bottom: 20px;
}

#card {
  margin: 20px;
  border: 2px solid black;
}

#dashboardHeader {
  margin: auto;
  text-align: center;
}


